.block
{
    max-width: 90%;
    margin: 0 20px;
}

.body-format
{
    margin: 0;
    background: url('../images/sea.png') no-repeat center 50px;
    max-width: 100%;
}

.menu
{
    display: flex;
    max-width: 80%;
}

.menu__link
{
    max-width: 35%;
}

.menu__text
{
    font: 17px/1 'Georgia';
    color: #333;
    text-align: center;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 0 21px 0 46px;
    height: 50px;
}

.menu__link:hover
{
    background-color: #15a98c;
}

.menu__text:hover
{
    filter: brightness(0) invert(100%);
}

.menu__about-me
{
    background: url('../images/about_me_icon.svg') no-repeat 20px 17px;
}

.menu__hobby
{
    background: url('../images/hobby_icon.svg') no-repeat 20px 17px;
}

.menu__video
{
    background: url('../images/video_icon.svg') no-repeat 20px 17px;
}

.quote
{
    margin: 60px 0 60px 13px;
    max-width: 90%;
}

.quote__text_paragraph
{
    margin: 0;
    font: italic 25px/1.5 'Georgia';
    color: #fff;
}

.quote__text_author
{
    margin: 3px 0 0 3px;
    font: 600 14px/2.6 'Open Sans';
    color: #f5f5f5;
}

.block-left__photo
{
    display: block;
    margin: 0 auto;
    max-width: 90%;
    height: auto;
}

.biography__title_top
{
    padding-left: 5px;
    margin-bottom: 44px;
    font: 700 48px/1.1 'Open Sans';
    color: #333;
}

.biography__title_top::after
{
    content: '';
    display: block;
    width: 60px;
    height: 6px;
    border-radius: 5px;
    background: #15a98b;
    margin: 26px 0 0 -5px;
}

.biography__title_bottom
{
    margin: 43px auto 17px 0;
    font: 400 36px/1.1 'Open Sans';
    color: #333;
}

.biography__text
{
    font: 19px/1.7 'Georgia';
    color: #555;
    padding-left: 1px;
    margin: 10px 0 38px 0;
}

.block-left
{
    width: 90%;
    float: left;
}

.block-left__title-list
{
    margin: 0 auto 14px auto;
    font: 600 24px/1.3 'Open Sans';
    color: #15a98c;
}

.block-left__list
{
   padding-left: 20px;
   margin-top: 14px;
}

.block-left__list-item
{
    font: 19px/1.9 'Georgia';
    color: #555;
}

.block-left__title-list_format
{
    padding: 41px 0 0 1px;
}

.link__write-me
{
    max-width: 100%;
    margin-bottom: 40px;
}

.block-right__link
{
    color: #15a98b;
    text-decoration: none;
    font: 19px/1.9 'Georgia';
}

.block-right__link:hover
{
    color: #098d72;
}

.block-right__link-border
{
    border-bottom: 1px solid #15a98b;
}

.block-right__link-border:hover
{
    border-color: #098d72;
}

.block-bottom
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9f9;
    clear: both;
    padding-top: 7px;
    margin-bottom: 45px;
}

.block-bottom__title
{
    font-size: 36px;
    line-height: 42px;
    color: #333;
    font-weight: 400;
    font-family: 'Open Sans';
    margin: 32px 0 34px 0;
    padding-right: 870px;
}

.block-bottom__slider
{
    display: flex;
    width: 100%;
    clear: both;
    justify-content: space-around;
}

.block-bottom__slider-box
{
    overflow: hidden;
    width: 100%;
}

.block-bottom__slider-cards
{
    display: flex;
}

.card
{
    padding: 0 11px;
    width: 25%;
}

.card-photo
{
    height: 190px;
    border-radius: 8px;
    width: 281px;
}

.card-title
{
    font-size: 22px;
    line-height: 32px;
    color: #333;
    font-weight: 700;
    font-family: 'Open Sans';
}

.card-text
{
    font-size: 16px;
    line-height: 28px;
    color: #555;
    font-family: 'Georgia';
}

.block-bottom__left-button
{
    width: 70px;
    height: 70px;
    border-radius: 35px;
    background-color: rgb(167, 52, 52);
    margin-top: 60px;
    border: none;
    outline: none;
    background-color: #15a98b;
}

.block-bottom__right-button
{
    width: 70px;
    height: 70px;
    border-radius: 35px;
    background-color: rgb(167, 52, 52);
    margin-top: 60px;
    border: none;
    outline: none;
    background-color: #15a98b;
}

.block-bottom__right-button,
.block-bottom__left-button:hover
{
    cursor: pointer;
    background-color: #098d72;
}

.block-bottom__button
{
    margin: 38px 0 60px 0;
    display: flex;
    justify-content: center;
}

.block-bottom__button-all-films
{
    width: 220px;
    margin-right: 20px;
    height: 50px;
    font-size: 19px;
    line-height: 32px;
    color: #f5f5f5;
    font-family: 'Georgia';
    background-color: #15a98b;
    border: none;
    border-radius: 5px;
    outline: none;
}

.block-bottom__button-all-films:hover
{
    background-color: #098d72;
    cursor: pointer;
}

.block-form
{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
}

.block-form__line
{
    display: inline-flex;
    width: 200px;
    height: 1px;
    border: 0;
    background-color: #c4c4c4;
}

.block-form__title
{
    display: inline-flex;
    align-items: center;
    max-width: 90%;
}

.block-form__title-format
{
    font-size: 25px;
    line-height: 42px;
    color: #333;
    font-weight: 300;
    font-family: 'Open Sans';
    text-align: center;
    display: inline-flex;
    margin: 0 25px;
}

.block-form__form
{
    display: flex;
    flex-direction: column;
    width: 80%;
    padding-top: 69px;
}

.block-form__form-item
{
    padding: 0 18px;
    height: 46px;
    border: 2px solid #c9c9c9;
    border-radius: 3px;
    margin-bottom: 23px;
}

.block-form__form-country
{
    height: 50px;
    padding: 0 12px 2px;
    border: 2px solid #c9c9c9;
    border-radius: 3px;
    margin: 3px 0 40px 0;
}

.block-form__form-title-country
{
    font-size: 18px;
    line-height: 32px;
    color: #555;
    font-weight: 400;
    font-family: 'Open Sans';
}

.block-form__form-you-message
{
    width: auto;
    padding: 0 20px;
    height: 145px;
    border: 2px solid #c9c9c9;
    resize: none;
    border-radius: 3px;
    margin-bottom: 51px;
}

.block-form__button
{
    width: 220px;
    height: 50px;
    background-color: #15a98b;
    border: none;
    border-radius: 5px;
    outline: none;
}

.block-form__button:hover
{
    background-color: #098d72;
    cursor: pointer;
}

.block-form__form-title-button
{
    font-size: 19px;
    line-height: 32px;
    color: #f5f5f5;
    font-family: 'Georgia';
}

.block-form__form-item:hover,
.block-form__form-country:hover,
.block-form__form-you-message:hover
{
    border: 2px solid #a6a6a6;
}

.block-form__form-item:focus,
.block-form__form-country:focus,
.block-form__form-you-message:focus
{
    border: 2px solid #15a98c;
    outline: none;
}

.block-form__form-radio
{
    display: flex;
    margin: 2px 0 36px 0;
}

.block-form__radio
{
    margin: 10px 0 0 0;
}

.block-form__form-radio-title
{
    font-size: 18px;
    line-height: 32px;
    color: #333;
    font-weight: 400;
    font-family: 'Open Sans';
    margin: 0 35px 0 5px;
}

.block-form__form-title
{
    font-size: 20px;
    line-height: 32px;
    color: #333;
    font-weight: 400;
    font-family: 'Open Sans';
    margin-bottom: 3px;
}

.block-form__form-star:after
{
    content: ' *';
    color: red;
}

.block-footer
{
    width: auto;
    height: 70px;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block-footer__text
{
    font-size: 12px;
    line-height: 32px;
    color: #555;
    font-family: 'Georgia';
    margin: 13px 22px 18px 0;
}

.notification
{
    font-size: 20px;
    line-height: 32px;
    color: #333;
    font-weight: 400;
    font-family: 'Open Sans';
    background-color: #e0e38a;
    background-size: 50px;
}

.email-error,
.text-messege-error,
.first-name-error
{
    font-size: 15px;
    line-height: 32px;
    color: #333;
    font-weight: 400;
    font-family: 'Open Sans';
    margin: 0 0 20px 0;
    background-color: #ffe099;
}

.form-block
{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

@media screen and (min-width: 480px)
{
    .block
    {
        margin: 0 40px;
    }

    .quote
    {
        max-width: 100%;
    }

    .block-bottom__title
    {
        margin: 32px 90px 34px 0;
    }

    .menu__link
    {
        max-width: 100%;
    }

    .block-footer__text
    {
        font-size: 16px;
    }
}

@media screen and (min-width: 768px)
{
    .quote
    {
        margin: 135px 0 50px 3px;
        max-width: 50%;
    }

    .quote__text_paragraph
    {
        font: italic 30px/1.5 'Georgia';
    }

    .block-left__photo
    {
        margin: 100px 50px 0 20px;
        max-width: 90%;
    }

    .quote-photo
    {
        display: flex;
        width: 90%;
        flex-direction: row-reverse;
    }

    .biography
    {
        margin-left: 20px;
        max-width: 80%;
    }

    .block-left__lovely-writers
    {
        max-width: 50%;
    }

    .block-left__lovely-films
    {
        max-width: 50%;
    }

    .block-left
    {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }

    .block-left__title-list_format
    {
       padding: 2px 0 0 1px;
    }

    .block-bottom__title
    {
        margin: 32px 90px 34px;
    }

    .slider
    {
        display: flex;
        width: 100%;
        clear: both;
        justify-content: center;
        max-width: 1360px;
    }

    .slider__box
    {
        overflow: hidden;
        width: 81%;
    }

    .item
    {
        min-width: 31.2%;
    }

    .block-form__title-format
    {
        font-size: 35px;
    }
}

@media screen and (min-width: 1024px)
{
    .menu
    {
        margin: 0 190px;
    }

    .menu__text
    {
        font: 19px/0.63 'Georgia';
    }

    .block-left__photo
    {
        margin: 100px 50px 0 20px;
        max-width: 90%;
    }

    .quote
    {
        margin: 150px 0 0 63px;
        max-width: 50%;
    }

    .quote__text_paragraph
    {
        font: italic 28px/1.5 'Georgia';
    }

    .quote__text_author
    {
        font: 600 16px/2.6 'Open Sans';
    }

    .biography
    {
        max-width: 60%;
        margin-top: 19px;
    }

    .block-left
    {
        max-width: 30%;
        display: flex;
        margin: 150px 0 0 69px;
        justify-content: flex-start;
        flex-flow: column wrap;
    }

    .block
    {
        display: flex;
        flex-direction: row-reverse;
        margin-top: 390px;
    }

    .quote-photo
    {
        position: absolute;
    }

    .block-left__lovely-films
    {
        max-width: 100%;
    }

    .block-left__lovely-writers
    {
        max-width: 100%;
        margin-bottom: 20px;
    }

    .block-form__form
    {
        width: 40%;
    }

    .slider
    {
        display: flex;
        width: 100%;
        clear: both;
        justify-content: center;
        max-width: 1360px;
    }

    .slider__box
    {
        overflow: hidden;
        width: 81%;
    }

    .item
    {
        min-width: 23.2%;
    }
}

@media screen and (min-width: 1360px)
{
    .quote-photo
    {
        display: flex;
        width: 75%;
        flex-direction: row-reverse;
    }

    .block-left__photo
    {
        margin: 210px 0 0 0;
        max-width: 100%;
    }

    .quote
    {
        margin: 234px 0 0 0;
        max-width: 50%;
        padding-left: 60px;
    }

    .biography
    {
        padding-right: 230px;
        max-width: 40%;
        margin: 0;
    }

    .block-left
    {
        max-width: 25%;
        margin: 215px 0 0 0;
        padding: 0 110px 0 30px;
    }

    .block-left__list
    {
        padding-left: 21px;
        margin-top: 14px;
    }

    .block-left__title-list_format
    {
        padding: 4px 0 0 0;
    }

    .block-bottom
    {
        margin-bottom: 33px;
    }

    .block
    {
        padding: 0 40px;
        max-width: 90%;
        margin: 390px 0 0 0;
    }

    .block-bottom__films
    {
        margin: 12px 0;
    }

    .block-bottom__title
    {
        margin: 7px 0 35px 6px;
        text-align: left;
    }

    .block-bottom__films-cards
    {
        max-width: 100%;
        justify-content: space-between;
    }

    .block-bottom__films-cards-format
    {
        max-width: 24%;
        margin: 0 5px 0 0;
    }

    .block-bottom__films-cards-text
    {
        margin-top: 17px;
    }

    .block-form__title-format
    {
        font-size: 36px;
        margin: 0 26px 0 18px;
    }

    .block-bottom__button
    {
        margin: 38px 0 40px 0;
    }

    .photo
    {
        max-width: 40%;
    }
}

@media screen and (min-width: 1800px)
{
    .block-bottom__slider-box
    {
        overflow: hidden;
        width: 63%;
    }

    .biography
    {
        max-width: 40%;
    }

    .quote-photo
    {
        width: 75%;
    }

    .block
    {
        max-width: 90%;
    }

    .menu
    {
        margin: 0 410px;
    }

    .block-left
    {
        padding: 0 88px 0 30px;
    }

    .block-bottom__films
    {
        max-width: 70%;
    }

    .block-bottom__films-cards
    {
        max-width: 90%;
    }

    .block-bottom__button
    {
        margin: 38px 0 60px 5px;
        max-width: 90%;
    }

    .block-form__form
    {
        width: 28%;
        margin-right: 130px;
    }

    .block-footer
    {
        padding-right: 120px;
    }

    .block-form__title
    {
        margin-right: 128px;
    }
}

@media screen and (min-width: 2000px)
{
   .biography
    {
        max-width: 40%;
    }

    .photo
    {
        max-width: 40%;
        padding-left: 20px;
    }

    .quote-photo
    {
        width: 60%;
        margin-top: 50px;
    }

    .block
    {
        max-width: 65%;
        margin-top: 520px;
    }

    .quote
    {
        margin: 234px 0 0 0;
        max-width: 50%;
        padding-left: 100px;
    }

    .block-left
    {
        padding: 0 160px 0 30px;
        max-width: 18%;
        margin-top: 140px;
    }

    .body-format
    {
        margin: 0;
        background: url('../images/sea.png') no-repeat center 50px;
        background-size: 100%;
    }
}
